/* Menu */
/* 01-Overall */
/* 02-Carousel */
/* 03-Products */

/* 01-Overall */
.main {
    background-color: #e6e6e6;
    width: 100%;
    min-height: calc(100vh - 60px);
    overflow: auto;
}

.content {
    padding: 20px;
    width: 100%;
}

input:focus, textarea:focus, select:focus {
    outline: none !important;
    box-shadow: none !important;
    border: 1px solid #000 !important;
}

select.decorated option:hover {
    box-shadow: 0 0 10px 100px #ffffff inset !important;
}

.pagination .page-link {
    background-color: #fff;
    color: #000;
    border-color: #000;
}

.pagination .page-item.active .page-link {
    background-color: #000;
    border-color: #000;
    color: #fff;
}

.pagination .page-link:hover {
    background-color: #d8d8d8;
    color: #000;
    border-color: #000;
}

.page-link-disable, .page-link-disable:hover{
    user-select: none !important;
    background-color: #eee !important;
}

.modal {
    user-select: none;
}

/* 02 Carousel */
.carousel-item{
    height: 300px;
    width: 690px;
}
.carousel-item.bg-1{
    background-image: url('../images/banner/banner_1.png');
}
.carousel-item.bg-2{
    background-image: url('../images/banner/banner_2.png');
}
.carousel-item.bg-3{
    background-image: url('../images/banner/banner_3.png');
}
.carousel-item.bg-4{
    background-image: url('../images/banner/banner_4.png');
}
.carousel-item.bg-5{
    background-image: url('../images/banner/banner_5.png');
}
.carousel-item.bg-6{
    background-image: url('../images/banner/banner_6.png');
}
.carousel-item.bg-7{
    background-image: url('../images/banner/banner_7.png');
}

/* End Carousel */
/*03-Products */
.hot-sale {
    background-color: #cf3f3f;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 20px auto;
    max-width: 1200px;
}

.countdown {
    text-align: center;
    margin-bottom: 20px;
}

#timer {
    display: flex;
    justify-content: center;
    gap: 10px;
    font-family: 'Roboto', sans-serif;
    font-size: 28px;
    color: #fff;
    padding: 20px;
  }
  
  #timer span {
    background-color: #FFF0BF;
    color: #222222;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  }
  
  #timer span:not(:last-child) {
    margin-right: 10px;
  }
  
.products {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-between;
}

.product {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 10px;
    text-align: center;
    width: calc(33.333% - 20px);
}

.product img {
    width: 100%;
    height: auto;
    border-radius: 8px;
}

.product p {
    font-size: 1.2em;
    margin: 10px 0;
}

.product .price {
    color: #d9534f;
    font-size: 1.5em;
}

/* End Products */