<div style="
    background-color: #fff;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    user-select: none;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
">
  <div class="container" style="padding: 20px;">
    <div class="row" style="
            width: 100%;
            gap: 20px;
            justify-content: space-between;
        ">
      <div class="col-12 col-lg-3" style="display: flex; flex-direction: column; gap: 10px;">
        <span style="font-weight: bold; width: 100%; border-bottom: 2px solid #000; padding-bottom: 10px;">
          INTRODUCE
        </span>
        <span style="width: 100%;">
          The website (in this project) is a sales website, applying modern and new technologies by using
          Nodejs, Express, MongoDB.
        </span>
      </div>
      <div class="col-12 col-lg-3" style="display: flex; flex-direction: column; gap: 10px;">
        <span style="font-weight: bold; width: 100%; border-bottom: 2px solid #000; padding-bottom: 10px;">
          CONTACT
        </span>
        <span style="width: 100%;">
          <i class="bi bi-phone-fill" style="font-size: 20px; padding-right: 5px;"></i> 0911.789.450 | 0931.313.329
        </span>
        <span style="width: 100%;">
          <i class="bi bi-sign-turn-right-fill" style="font-size: 20px; padding-right: 5px;"></i> 62 Đường 36, Hiệp Bình Phước, KĐT Vạn Phúc, Thủ Đức.
        </span>
        <span style="width: 100%;">
          <i class="bi bi-envelope-fill" style="font-size: 20px; padding-right: 5px;"></i> aptech.fpt@fe.edu.vn
        </span>
      </div>
      <div class="col-12 col-lg-3" style="display: flex; flex-direction: column; gap: 10px;">
        <div class="map">
          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d800.3229281438996!2d106.71128585234372!3d10.845522484687999!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x317529564f2b4679%3A0x92c1b5bfdc78c98!2zRlBUIEFwdGVjaCBW4bqhbiBQaMO6Yw!5e0!3m2!1svi!2s!4v1724439564098!5m2!1svi!2s" width="100%" height="200px" style="border:0; margin-right: 50px;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
      </div>
    </div>
  </div>
  <div style="text-align: center; background-color: #000000; padding: 20px; color: #fff;">
    &copy; All Rights Reserved By <span style="font-weight: bold;">Group 2</span>
  </div>
</div>