<div style="
    background-color: #fff;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    user-select: none;
">
    <div class="container" style="padding: 20px;">
        <div class="row" style="
            width: 100%;
            gap: 20px;
            justify-content: space-between;
        ">
            <div class="col-12 col-lg-3" style="display: flex; flex-direction: column; gap: 10px;">
                <span style="font-weight: bold; width: 100%; border-bottom: 2px solid #000; padding-bottom: 10px;">
                    INTRODUCE
                </span>
                <span style="width: 100%;">
                    The website (in this project) is a sales website, applying modern and new technologies by using
                    Nodejs, Express, MongoDB.
                </span>
            </div>
            <div class="col-12 col-lg-3" style="display: flex; flex-direction: column; gap: 10px;">
                <span style="font-weight: bold; width: 100%; border-bottom: 2px solid #000; padding-bottom: 10px;">
                    CONTACT
                </span>
                <span style="width: 100%;">
                    <i class="bi bi-phone-fill" style="font-size: 20px; padding-right: 5px;"></i> 0911.789.450 | 0931.313.329
                </span>
                <span style="width: 100%;">
                    <i class="bi bi-sign-turn-right-fill" style="font-size: 20px; padding-right: 5px;"></i> 62 Đường 36, Hiệp Bình Phước, KĐT Vạn Phúc, Thủ Đức.
                </span>
                <span style="width: 100%;">
                    <i class="bi bi-envelope-fill" style="font-size: 20px; padding-right: 5px;"></i> aptech.fpt@fe.edu.vn
                </span>
            </div>
            <div class="col-12 col-lg-3" style="display: flex; flex-direction: column; gap: 10px;">
                <span style="font-weight: bold; width: 100%; text-align: center;">
                    
                </span>
            </div>
        </div>
    </div>
    <div style="text-align: center; background-color: #000000; padding: 20px; color: #fff;">
        &copy; All Rights Reserved By <span style="font-weight: bold;">Group 2</span>
    </div>
</div>