<div style="
                    display: flex;
                    justify-content: center;
                    width: 100%;">
    <div style="
                        display: flex;
                        flex-direction: column;
                        width: 100%;
                        max-width: 600px;
                        padding: 20px;
                        background-color: #fff;
                        border-radius: 10px;
                        align-items: center;
                        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);">

        <span style="font-size: 20px; font-weight: bold; text-align: center; user-select: none;">
            Login
        </span>
        <span style="font-size: 15px; text-align: center; color: #555; user-select: none; padding-bottom: 20px;">
            Login to shop and track orders save favorite product lists and receive many offers
        </span>
        <% if(registerSuccess) { %>
            <div class="alert alert-success" style="width: 100%; text-align: center; user-select: none;">
                <strong>Success!</strong>
                <%= registerSuccess %>
            </div>
            <% } %>
                <form action="/auth/login" method="post" style="
                            width: 100%;
                            display: flex;
                            flex-direction: column;
                            align-items: center;
                            padding: 0px 0px 10px 0px;
                            gap: 10px;">
                    <div class="mb-3 mt-3" style="width: 100%;">
                        <label for="username" class="form-label">
                            Username:
                            <span style="color: red;">
                                <%= errors?.username && " * " + errors?.username %>
                            </span>
                        </label>
                        <input type="text" class="form-control" id="username" name="username" autocomplete="off"
                            value="<%= data?.username %>">
                    </div>
                    <div class="mb-3" style="width: 100%;">
                        <label for="password" class="form-label">
                            Password:
                            <span style="color: red;">
                                <%= errors?.password && " * " + errors?.password %>
                            </span>
                        </label>
                        <input type="password" class="form-control" id="password" name="password" autocomplete="off">
                    </div>
                    <button type="submit" class="btn btn-dark" style="width: 100%;">
                        LOGIN
                    </button>
                </form>
                <div style="display: flex; color: #555; flex-direction: column; user-select: none;">
                    You do not have an account?
                    <a href="/auth/register"
                        style="text-align: center; text-decoration: none; font-weight: bold; color: #000;">
                        Create account
                    </a>
                </div>
    </div>
</div>